#pragma once

#define LSCC_WIFI_SSID "nombre-de-red"
#define LSCC_WIFI_PASSWORD "cambia-esta-clave-wifi"
#define LSCC_MQTT_BROKER "192.168.1.100"
#define LSCC_MQTT_USER "usuario_unico_del_dispositivo"
#define LSCC_MQTT_PASSWORD "cambia-esta-clave"
