# Perfil recomendado para producción. Requiere certificados válidos.
listener 8883 0.0.0.0
protocol mqtt

allow_anonymous false
password_file mosquitto_passwd.txt
acl_file mosquitto.acl

cafile certs/ca.crt
certfile certs/server.crt
keyfile certs/server.key
require_certificate false
tls_version tlsv1.2

max_packet_size 65536
persistence true
persistence_location data/
log_type error
log_type warning
log_type notice
