#pragma once

#define LSCC_MQTT_BROKER "192.168.1.100"
#define LSCC_MQTT_USER "usuario_unico_del_dispositivo"
#define LSCC_MQTT_PASSWORD "cambia-esta-clave"
#define LSCC_CONFIG_AP_PASSWORD "cambia-esta-clave-ap"
